* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



body {
    background-color: 	#060b10;
    color: #579fba;
}

a {
    color: #579fba;
    text-decoration: none;
    cursor: crosshair;
}

.header {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #001d3d;
}

.header h1 {
    color: white;
    float: left;
    padding-left: 40px;
    font-size: 40px;
    border-width: 3px;
    border-left-width: 0px;
    border-style: groove;
}



.header ul {
    list-style-type: none;
}

.header ul li {
    margin-left: 25px;
    margin-right: 20px;
    cursor: crosshair;
    border-bottom-color:#579fba;
    border-style: groove;
    border-bottom-width: 3px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-top: 10px;
    float: right;
    font-size: 20px;

}


    
.titlecontainer {
    position: relative;
    text-align: center;
    display: block;
    color: white;
  }

  .titlecontainer div {
    position: absolute;
    border-width: 3px;
    border-style: groove;
    border-radius: 50%;
    font-size: 34px;
    bottom: 15px;
    right: 16px;
    padding-left: 20px;
    padding-right: 20px;
    padding: 15px;
  }

.leftcontainer {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20%;
    float: left;
    clear: both;
    text-align: right;
    font-size: 40px;
    height: 100%;
    max-height: relative;
    padding-right: 2%;
  }

.rightcontainer {
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    text-align: left;
    height: 100%;
    width: 76%;
    padding-left: 2%;
    border-style: groove;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-left-width: 3px;
    border-right-width: 0px;
    margin-right: 2%;
    margin-left: 2%;
  }

#rightcontainer {
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    text-align: left;
    overflow: auto;
    height: 100%;
    width: 78%;
    padding-left: 2%;
    border-style: groove;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-left-width: 3px;
    border-right-width: 0px;
  }

.boxxy {
    max-width: 80%;
}

  .rightcontainer2  
  {
    position: relative;
    float: left;
    overflow: auto;
    padding-left: 1%;
    font-size: 30px;
    border-style: groove;
    border-width: 5px;
  }

  .rightcontainer2 div {    
      position: absolute;
      right: 5%;
      bottom: 5%;
      border-style: groove;
      border-width: 5px;
      font-size: 30px;
      background-color: black;
  }

.rightcontainer3  
  {
    float: left;
    position: relative;
    width: "5%"; 
    margin: 1%;
    overflow: auto;
    font-size: 30px;
    border-style: groove;
    border-width: 5px;
    
  } 

.rightcontainer3 div {    
      position: absolute;
      right: 5%;
      bottom: 5%;
      font-size: 30px;
      background-color: black;
      border-style: groove;
      border-width: 5px;
  }

.leftcontainer3  
  {
    float: left;
    overflow: auto;
    position: relative;
    width: "5%"; 
    overflow: auto;
    margin: 1%;
    font-style: 70px;
    border-style: groove;
    border-width: 5px;
  }

.leftcontainer3 div {    
      position: absolute;
      right: 5%;
      bottom: 5%;
      font-style: 30px;
      border-style: groove;
      border-width: 5px;
      font-size: 30px;
      background-color: black;
  }




#contact ul li{
    cursor: crosshair;
    border-bottom:#579fba;
    border-style: groove;
    border-bottom-width: 3px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    list-style-type: none;
    padding-top: 10px;
    float: right;
    margin-right: 20px;
    text-align: left;
    font-size: 20px;
}
footer {
    display: inline-block;
    width: 100%;
    background-color: #001d3d;
}

@media only screen and (max-width:768px) {
    
    .leftcontainer {
        font-size: 20px;
    }
    
    
    #contact ul li { 
     font-size: 10px;
     
    }
 }





















